@media {
    


body {
    background-color:#b4cce0;

    }
img {
    width:100%;
}

#topper {
    padding: 0px;
    margin: 0px;
}
h1 {
    font-family: "Roboto Flex", sans-serif;
    size: 100px;
    margin: 0px 0px 10px 0px;
    color:black
}

    .caption {
        font-weight:bolder;
        text-decoration:inherit;
    }
.content {
    width:60%;
    margin:auto;
}

.container {
    text-align: center;
    width:100px;
    height: 100px;
}

video {
    width: 100%;
}

    @media (min-width: 576px) {
        .content {
            width:80%;
        } 
    }
    
    @media (min-width: 750px) {
        .content {
            width:50%;
        }
    }
}
